.footer {
  padding: 45px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../images/footer-bg.png");

  &__social-list {
    display: flex;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    @include r(1200) {
      flex-wrap: wrap;
    }
    @include r(1066) {
      flex-direction: column;
    }
  }

  &__left {
    @include r(1066) {
      margin-bottom: 25px;
    }
  }

  &__nav--list {
    flex-direction: column;
    @include r(1066) {
      margin-bottom: 25px;
    }
  }

  &__address-text {
    position: relative;
    margin: 0;
    padding-left: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    @include r(560) {
      font-size: 18px;
    }
    &::after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      display: block;
      content: "";
      width: 25px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url("../images/icons/location.svg");
    }
  }

  &__nav-item {
    &:not(:last-child) {
      margin-bottom: 35px;
      @include r(1200) {
        margin-bottom: 10px;
      }
    }
  }

  &__nav-link {
    transition: color 0.3s;
    font-weight: 500;
    @include r(560) {
      font-size: 18px;
    }
    &:focus {
      color: #a12a02;
    }
    &:hover {
      color: #f43b00;
    }
    &:active {
      color: #f5693a;
    }
    &::after {
      display: none;
    }
  }

  &__left-tel {
    margin-bottom: 16px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 24px;
    @include r(560) {
      font-size: 18px;
    }
    &::after {
      left: 0;
    }
  }
  &__left-email {
    margin-bottom: 16px;
    padding-left: 30px;
    font-weight: 500;
    font-size: 24px;
    @include r(560) {
      font-size: 18px;
    }
    &::after {
      left: 0;
    }
  }

  &__right-btn {
    margin-top: 20px;
  }

  .logo__img {
    margin-bottom: 15px;
  }

  .social-list__link {
    width: 38px;
    height: 38px;
  }
}
address {
  font-style: normal;
  @include r(560) {
    font-size: 18px;
  }
}

.overlay {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  display: none;
  z-index: 800;
}

.popup {
  padding: 50px 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 550px;
  text-align: center;
  background-image: url("../images/popup-bg.png");
  background-color: #141414;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 999;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 50%);
  @include r(560) {
    width: 85%;
    padding: 20px;
  }
  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: #f43b00;
    @include r(560) {
      font-size: 22px;
    }
  }
  &__descr {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #ffffff;
    @include r(560) {
      font-size: 14px;
    }
  }
}

.close-popup {
  position: absolute;
  top: 17px;
  right: 29px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  z-index: 100;
}

.close-popup:before {
  content: "";
  background-color: rgb(255, 0, 0);
  position: absolute;
  height: 3px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
  transition: background-color 0.3s;
}

.close-popup:after {
  content: "";
  background-color: rgb(255, 0, 0);
  position: absolute;
  height: 3px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
  transition: background-color 0.3s;
}

.close-popup:hover::before {
  background-color: #ffffff;
}
.close-popup:hover::after {
  background-color: #ffffff;
}

.popup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__label {
    width: 100%;
    & span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      cursor: pointer;
    }
  }

  &__input {
    margin-bottom: 20px;
    padding: 17px;
    border: none;
    outline: none;
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border-color 0.3s;
    @include r(560) {
      height: 64px;
    }

    &::placeholder {
      font-family: "Inter";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #141414;
    }
  }

  &__btn {
    margin-bottom: 20px;
    @include r(440) {
      width: 100%;
    }
  }
}

.checkbox-input {
  opacity: 0;
  position: absolute;
}

.radio-castom {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  margin-right: 10px;
  transform: translateY(3px);

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../images/icons/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
  }
}

.checkbox-input:checked + .radio-castom::before {
  opacity: 1;
}

input {
  border: 1px solid transparent;
  transition: border 0.3s;
  &:focus {
    border: 1px solid #f43b00;
  }
  &:hover {
    border: 1px solid #f43b00;
  }
  &:active {
    border: 1px solid #f43b00;
  }
}

.menu-mobail {
  position: fixed;
  padding: 40px 15px 20px 15px;
  text-align: left;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 100;
  overflow-y: scroll;
  transform: translateX(200%);
  transition: transform 0.5s;

  &__logo {
    display: block;
    max-width: 150px;
    margin-bottom: 25px;
  }

  &__download {
    display: inline-block;
  }

  &__work {
    display: block;
    margin-top: 25px;
  }
  .header__top-work-bell {
    margin-bottom: 15px;
    font-size: 18px;
    display: block;
  }
  .header__top-work-phone {
    padding-left: 20px;
    margin-bottom: 25px;
    font-size: 18px;
  }
  .header__top-work-phone::after {
    left: 0;
  }
  .footer__nav-item {
    margin-bottom: 10px;
  }

  .nav__link {
    font-size: 18px;
  }
  .footer__right-btn {
    padding: 10px 20px;
    font-size: 16px;
    height: 40px;
  }

  .header__top-download-link {
    font-size: 18px;
    padding: 15px 29px 15px 45px;
  }
  .header__top-download-link::after {
    display: block;
    left: 8px;
  }

  .footer__right-btn {
    padding: 10px 50px;
    font-size: 18px;
    height: 64px;
  }
}
.menu-mobail.menu-mobail-active {
  transform: translateX(0);
}

.burger-mob {
  position: absolute;
  top: 40px;
  right: 15px;
}

.copirait {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: rgb(131, 131, 131);
}

.cookie-block {
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 9999999;
  bottom: 10px;
  left: 10px;
  max-width: 650px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background-color: #858585;
  padding: 15px 20px;
  border-radius: 9px;
  display: none;

  & p {
    margin: 0;
    margin-right: 20px;
  }
}

.politica {
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
  &:hover {
    color: #f43b00;
  }
}
