<section id="advantage" class="advantage">
  <h2 class="sr-only">Качественный бетон, доступные цены за м3, доставка в день обращения</h2>
  <div class="container">
    <ul class="advantage__list list-reset">
      <li class="advantage__item">
        <span class="advantage__img advantage__img--many"></span>
        <h3 class="advantage__title">Лучшая цена за 1 M<sup>3</sup></h3>
        <h3 class="advantage__text">
          В Москвоском регионе -любые обьемы по ценам производителя
        </h3>
      </li>
      <li class="advantage__item">
        <span class="advantage__img advantage__img--avto"></span>
        <h3 class="advantage__title">Выгодная доставка</h3>
        <h3 class="advantage__text">
          От одного куба бетона по Москве с доступом в центр
        </h3>
      </li>
      <li class="advantage__item">
        <span class="advantage__img advantage__img--hands"></span>
        <h3 class="advantage__title">Три собственных завода</h3>
        <h3 class="advantage__text">
          Лучшая себестоимость и Логистика в любую точку Москвы и
          области
        </h3>
      </li>
      <li class="advantage__item">
        <span class="advantage__img advantage__img--client"></span>
        <h3 class="advantage__title">Довольные клиенты</h3>
        <h3 class="advantage__text">
          Более 1000 довольных клиентов за последний год
        </h3>
      </li>
    </ul>
  </div>
</section>
