<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__left">
        <a class="logo logo-footer link-ul" href="#header">
          <img class="logo__img" loading="lazy" src="images/logo.png" alt="логотип" width="150">
        </a>

        <div>
          <a class="header__top-work-link" href="tel:+79037689993">
            <span class="header__top-work-phone footer__left-tel">
              +7(903)768-99-93
            </span>
          </a>
        </div>

        <a class="header__top-email-link footer__left-email"
          href="mailto:mosbetonstroi@yandex.ru">mosbetonstroi@yandex.ru</a>

        <ul class="social-list footer__social-list list-reset">
          <li class="social-list__item">
            <a class="social-list__link social-list__link--viber" href="https://msng.link/o/?79103384117=vi"
              target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link social-list__link--telegram" href="https://t.me/aaa5574" target="_blank"
              aria-label="ссылка на социальную сеть"></a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link social-list__link--whatsapp"
              href="https://wa.clck.bar/79103384117?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C,%20%D1%8F%20%D0%BF%D0%BE%20%D0%BF%D0%BE%D0%B2%D0%BE%D0%B4%D1%83..."
              target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
        </ul>
      </div>

      <nav class="nav footer__nav" title="главное меню">
        <ul class="list-reset nav__list footer__nav--list">
          <li class="nav__item footer__nav-item">
            <a href="#advantage" class="nav__link footer__nav-link">Преимущества</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#gallery" class="nav__link footer__nav-link">Наше производство</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#prise" class="nav__link footer__nav-link">Цены на бетон</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#contacts" class="nav__link footer__nav-link">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="footer__right">
        <address class="footer__address">
          <p class="footer__address-text">
            г. Котельники, Микрорайон силикат, д. 41а.</p>
          <p class="footer__address-text">г. Химки, ул. Заводская, д. 1.</p>
          <p class="footer__address-text">
            г. Одинцово, ул. Зеленая д. 30 1с.</p>
        </address>
        <button class="footer__right-btn btn btn-reset js-button-campaign">
          Заказать бетон
        </button>
      </div>
    </div>

    <div class="overlay js-overlay-campaign">
      <div class="popup js-popup-campaign">
        <div class="close-popup js-close-campaign"></div>
        <div class="popup__title">Нужна помощь?</div>
        <div class="popup__descr">
          Заполнив форму вы получите более точную информацию и наш
          менеджер вам перезвонит
        </div>
        <form action="mail.php" method="POST" class="popup-form contacts-form">
          <label class="popup-form__label">
            <input name="name" type="text" class="popup-form__input" placeholder="Ваше имя" required>
          </label>
          <label class="popup-form__label">
            <input name="phone" type="tel" class="popup-form__input" placeholder="Ваш телефон" required>
          </label>
          <button class="popup-form__btn btn btn-reset">
            Заказать бетон
          </button>
          <label class="popup-form__label">
            <input type="checkbox" class="checkbox-input" required checked>
            <span class="radio-castom"></span>
            <span>Я согласен на обработку моих<a class="politica" href="politica.html" target="_blank">
                <span class="politica">персональных данных</span></a></span>
          </label>
        </form>
      </div>
    </div>

    <div class="menu-mobail">
      <div class="burger burger-mob burger--active">
        <span class="burger__line"></span>
      </div>
      <a class="logo menu-mobail__logo link-ul" href="#header">
        <img class="logo__img" loading="lazy" src="images/logo.png" alt="логотип" width="150">
      </a>
      <div class="header__top-download menu-mobail__download">
        <a class="header__top-download-link header__top-download-link--prise" href="images/prays_beton.pdf"
          download>Скачать прайс</a>
        <a class="header__top-download-link header__top-download-link--dogovor" href="images/Dogovor_beton.doc"
          download>Скачать договор</a>
      </div>
      <div class="header__top-work menu-mobail__work">
        <span class="header__top-work-bell">
          Мы работаем. Позвоните нам
        </span>
        <a class="header__top-work-link" href="tel:+79037689993">
          <span class="header__top-work-phone"> +7(903)768-99-93 </span>
        </a>
      </div>

      <nav class="nav footer__nav" title="главное меню">
        <ul class="list-reset nav__list footer__nav--list">
          <li class="nav__item footer__nav-item">
            <a href="#advantage" class="nav__link footer__nav-link">Преимущества</a>
          </li>
          <li class="nav__item footer__nav-item">
            <a href="#gallery" class="nav__link footer__nav-link">Наше производство</a>
          </li>

          <li class="nav__item footer__nav-item">
            <a href="#prise" class="nav__link footer__nav-link">Цены на бетон</a>
          </li>

          <li class="nav__item footer__nav-item">
            <a href="#footer" class="nav__link footer__nav-link">Контакты</a>
          </li>
        </ul>
      </nav>

      <ul class="social-list footer__social-list list-reset">
        <li class="social-list__item">
          <a class="social-list__link social-list__link--viber" href="https://msng.link/o/?79103384117=vi"
            target="_blank" aria-label="ссылка на социальную сеть"></a>
        </li>
        <li class="social-list__item">
          <a class="social-list__link social-list__link--telegram" href="https://t.me/aaa5574" target="_blank"
            aria-label="ссылка на социальную сеть"></a>
        </li>
        <li class="social-list__item">
          <a class="social-list__link social-list__link--whatsapp"
            href="https://wa.clck.bar/79103384117?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C,%20%D1%8F%20%D0%BF%D0%BE%20%D0%BF%D0%BE%D0%B2%D0%BE%D0%B4%D1%83..."
            target="_blank" aria-label="ссылка на социальную сеть"></a>
        </li>
      </ul>
      <button class="footer__right-btn btn btn-reset js-button-campaign">
        Заказать бетон
      </button>
    </div>
    <span class="copirait">© 2021-2022 Мосбетонстрой </span>
    <a class="copirait" href="https://t.me/BMEDV" target="_blank">Верстка сайтов Медведев Б</a>

    <a id="button"></a>
  </div>
  <div class="cookie-block">
    <p>
      Мы используем cookie-файлы, чтобы получить статистику, которая
      помогает нам улучшить сервис для Вас с целью персонализации сервисов
      и предложений.
    </p>

    <button class="ok btn btn-reset">Согласен</button>
  </div>
</footer>
