<section id="form" class="form">
  <h2 class="sr-only">Производитель бетона в Москве и Московской области. Доставка 24/7. Оптом и в розницу по доступной
    цене. Отгрузки с трёх заводов</h2>
  <div class="container">
    <div class="form__inner">
      <h6 class="form__title title">
        <span class="span-color">Не нашли</span> что искали?
      </h6>
      <p class="form__descr">
        Наш специалист ответит на все ваши вопросы
      </p>
      <form action="mail.php" method="POST" class="form-sab contacts-form">
        <label class="form-sab__label">
          <input name="name" type="text" class="form-sab__input" placeholder="Имя" required>
        </label>
        <label class="form-sab__label">
          <input name="phone" type="tel" class="form-sab__input" placeholder="Телефон" required>
        </label>
        <label class="form-sab__label">
          <input name="email" type="email" class="form-sab__input" placeholder="Почта" required>
        </label>
        <button class="form-sab__btn btn btn-reset">Отправить</button>
      </form>
    </div>
  </div>
</section>
