<section id="gallery" class="gallery">
  <h2 class="sr-only">Качественный бетон любых марок с доставкой в Москве и Московской области. Выгодное долгосрочное
    сотрудничество на договорной основе</h2>
  <div class="container">
    <h3 class="gallery__title title">
      Фото нашего <span class="span-color">производства</span>
    </h3>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="images/slide-1.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="images/slide-2.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="images/slide-3.png" alt="">
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
