<header id="header" class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <a class="logo link-ul" href="#">
          <img class="logo__img" loading="lazy" src="images/logo.png" alt="логотип" width="150">
        </a>

        <ul class="social-list list-reset">
          <li class="social-list__item">
            <a class="social-list__link social-list__link--viber" href="https://msng.link/o/?79103384117=vi"
              target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link social-list__link--telegram" href="https://t.me/aaa5574" target="_blank"
              aria-label="ссылка на социальную сеть"></a>
          </li>
          <li class="social-list__item">
            <a class="social-list__link social-list__link--whatsapp"
              href="https://wa.clck.bar/79103384117?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C,%20%D1%8F%20%D0%BF%D0%BE%20%D0%BF%D0%BE%D0%B2%D0%BE%D0%B4%D1%83..."
              target="_blank" aria-label="ссылка на социальную сеть"></a>
          </li>
        </ul>

        <div class="header__top-work">
          <a class="header__top-work-link" href="tel:+79037689993">
            <span class="header__top-work-bell">
              Мы работаем. Позвоните нам
            </span>
            <span class="header__top-work-phone">
              +7(903)768-99-93
            </span>
          </a>
          <ul class="social-list mobail-list list-reset">
            <li class="social-list__item">
              <a class="social-list__link social-list__link--viber" href="https://msng.link/o/?79103384117=vi"
                target="_blank" aria-label="ссылка на социальную сеть"></a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link social-list__link--telegram" href="https://t.me/aaa5574" target="_blank"
                aria-label="ссылка на социальную сеть"></a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link social-list__link--whatsapp"
                href="https://wa.clck.bar/79103384117?text=%D0%94%D0%BE%D0%B1%D1%80%D1%8B%D0%B9%20%D0%B4%D0%B5%D0%BD%D1%8C,%20%D1%8F%20%D0%BF%D0%BE%20%D0%BF%D0%BE%D0%B2%D0%BE%D0%B4%D1%83..."
                target="_blank" aria-label="ссылка на социальную сеть"></a>
            </li>
          </ul>
        </div>

        <div class="header__top-email">
          <span class="header__top-email-day"> ПН-ВС </span>
          <a class="header__top-email-link" href="mailto:mosbetonstroi@yandex.ru">mosbetonstroi@yandex.ru</a>
        </div>

        <div class="header__top-download">
          <a class="header__top-download-link header__top-download-link--prise" href="images/mixer.png" download>Скачать
            прайс</a>
          <a class="header__top-download-link header__top-download-link--dogovor" href="images/Dogovor_beton.doc"
            download>Скачать договор</a>
        </div>

        <button class="header__top-btn btn btn-reset js-button-campaign">
          Обратная связь
        </button>
      </div>

      <div class="burger">
        <span class="burger__line"></span>

      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__bottom-inner">
        <nav class="nav" title="главное меню">
          <ul class="list-reset nav__list">

            <li class="nav__item">
              <a href="#advantage" class="nav__link link-ul">Преимущества</a>
            </li>
            <li class="nav__item">
              <a href="#gallery" class="nav__link link-ul">Наше производство</a>
            </li>
            <li class="nav__item">
              <a href="#prise" class="nav__link link-ul">Цены на бетон</a>
            </li>
            <li class="nav__item">
              <a href="#footer" class="nav__link link-ul">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
