<section class="hero">
  <h1 class="sr-only">Бетон с доставкой по Москве и Московской области. 3 завода. 20 лет опыт работы. </h1>

  <div class="hero__wrapper">
    <aside class="aside">
      <ul class="aside__list list-reset">
        <li class="aside__item">
          <a href="#prise1" class="aside__btn btn-reset">Бетонные смеси</a>
        </li>
        <li class="aside__item">
          <a href="#prise1" class="aside__btn btn-reset">Керамзитобетон</a>
        </li>
        <li class="aside__item">
          <a href="#prise1" class="aside__btn btn-reset">тощий бетон</a>
        </li>
        <li class="aside__item">
          <a href="#prise1" class="aside__btn btn-reset">ЦПС</a>
        </li>
        <li class="aside__item">
          <a href="#prise1" class="aside__btn btn-reset">растворы</a>
        </li>
        <li class="aside__item">
          <a href="#prise3" class="aside__btn btn-reset">Стоимость доставки</a>
        </li>
        <li class="aside__item">
          <a href="#prise2" class="aside__btn btn-reset">
            Стоиомсть противоморозной добавки (ПМД)
          </a>
        </li>
      </ul>
    </aside>

    <div class="hero__content">
      <h2 class="hero__title">Три завода</h2>
      <h3 class="hero__subtitle">по производству бетона</h3>

      <a class="hero__link btn" href="#prise">Узнать цену</a>
      <a class="hero__link hero__link--transporent btn" href="#map">Посмотреть на карте</a>
    </div>
  </div>
</section>
