<section id="map" class="map">
  <h2 class="sr-only">Гарантия выгодной цены за куб! Скидки для оптовых покупателей, подарки и акции - всё это на нашем
    сайте.</h2>
  <h3 class="title map__title">
    Зона <span class="span-color">покрытия</span> нашей компании
  </h3>

  <div class="map__inner">
    <div class="container map__container">
      <div class="map__left">
        <img class="map__left-img" src="images/mixer.png" alt="бетоновоз" width="684">
        <div class="map__form">
          <h4 class="map__form-title">
            <span class="span-color">Закажите</span> бетон
          </h4>
          <p class="map__form-text">
            мы рассчитаем нужный обьем бетона, нужной марки за короткое
            время
          </p>
          <form action="mail.php" method="POST" class="form-map contacts-form">
            <label class="form-map__label">
              <input name="phone" class="form-map__input" type="tel" placeholder="Ваш телефон" required>
            </label>
            <button class="form-map__btn btn btn-reset">
              Заказать
            </button>
          </form>
        </div>
      </div>
      <div class="map__right">
        <img class="map__right-img" src="images/map.png" alt="" width="864">
      </div>
    </div>
  </div>
</section>
