<section id="prise" class="prise">
  <h2 class="sr-only">Осуществляем доставку бетона в Москву, Котельники, Люберцы, Раменский р-он, Балашиху, Дзержинский, Салтыковку и другие города Московской области</h2>
  <div class="container">
    <h3 class="prise__title title">Наши <span>цены</span></h3>

    <ul class="tabs-block list-reset">
      <li class="tabs-block__item">
        <a href="#prise1" class="tabs-block__btn btn btn-reset tabs-block__btn--active" data-path="1">
          Бетонные смеси
        </a>
      </li>
      <li class="tabs-block__item">
        <a href="#prise1" class="tabs-block__btn btn btn-reset" data-path="2">
          Керамзитобетон
        </a>
      </li>
      <li class="tabs-block__item">
        <a href="#prise1" class="tabs-block__btn btn btn-reset" data-path="3">
          Тощий бетон
        </a>
      </li>
      <li class="tabs-block__item">
        <a href="#prise1" class="tabs-block__btn btn btn-reset" data-path="4">Цпс</a>
      </li>
      <li class="tabs-block__item">
        <div id="prise1"></div>
        <a href="#prise1" class="tabs-block__btn btn btn-reset" data-path="5">
          Растворы
        </a>
      </li>
    </ul>

    <div class="prise__table">
      <div class="table-prise big-table table-prise--active" data-target="1">
        <table class="table ">
          <thead class="table">
            <tr>
              <th>Бетонные смеси</th>
              <th>Класс</th>
              <th>Технические параметры</th>
              <th>
                &nbsp;Цена без доставки (в т.ч. НДС 20 %) руб/м3&nbsp; на
                гравийном щебне
              </th>
              <th>
                &nbsp;Цена без доставки (в т.ч. НДС 20 %) руб/м3&nbsp; на
                гранитном щебне
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>М 100</td>
              <td>В 7,5</td>
              <td>П 4 F 150 W 6</td>
              <td>4750</td>
              <td>5500</td>
            </tr>
            <tr>
              <td>М 150</td>
              <td>В 10/12,5</td>
              <td>П 4 F 100 W 4</td>
              <td>4950</td>
              <td>5550</td>
            </tr>
            <tr>
              <td>М 200</td>
              <td>В 20</td>
              <td>П 4 F 150 W 6</td>
              <td>5100</td>
              <td>5800</td>
            </tr>
            <tr>
              <td>М 250</td>
              <td>В 20</td>
              <td>П 4 F 150 W 6</td>
              <td>5300</td>
              <td>6000</td>
            </tr>
            <tr>
              <td>М 300</td>
              <td>В 22,5</td>
              <td>П 4 F 200 W 8</td>
              <td>6450</td>
              <td>6150</td>
            </tr>
            <tr>
              <td>М 350</td>
              <td>В 25</td>
              <td>П 4 F 200 W 10</td>
              <td>5600</td>
              <td>6300</td>
            </tr>
            <tr>
              <td>М 400</td>
              <td>В 30</td>
              <td>П 4 F 300 W 12</td>
              <td>5800</td>
              <td>6550</td>
            </tr>
            <tr>
              <td>М 450</td>
              <td>В 35</td>
              <td>П 4 F 300 W 12</td>
              <td>6150</td>
              <td>6750</td>
            </tr>
            <tr>
              <td>M 550</td>
              <td>В 40</td>
              <td>П 4 F 300 W 12</td>
              <td>6450</td>
              <td>7050</td>
            </tr>
            <tr>
              <td>M 600</td>
              <td>В 45</td>
              <td>П 4 F 300 W 20</td>
              <td>-</td>
              <td>7550</td>
            </tr>
            <tr>
              <td>M 700</td>
              <td>В 50</td>
              <td>П 5 F 300 W 20</td>
              <td>-</td>
              <td>7900</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-prise" data-target="2">
        <table class="table">
          <thead id="prise5">
            <tr>
              <th>Керамзитбетон</th>
              <th>Класс</th>
              <th>Технические параметры</th>

              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>М 50</td>
              <td>&nbsp;В 3,5</td>
              <td>D 800</td>

              <td>3680</td>
            </tr>
            <tr>
              <td>М 100</td>
              <td>B 7,5</td>
              <td>D 1000</td>

              <td>3750</td>
            </tr>
            <tr>
              <td>M 150</td>
              <td>B 12,5</td>
              <td>D 1200</td>

              <td>3830</td>
            </tr>
            <tr>
              <td>M 200</td>
              <td>B 15</td>
              <td>D 1600</td>

              <td>3950</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-prise" data-target="3">
        <table class="table">
          <thead id="#prise6" class="table">
            <tr>
              <th>Тощий бетон</th>
              <th>Класс</th>
              <th>Технические параметры</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>М 100</td>
              <td>
                <span>В 7,5
                </span>
              </td>
              <td>Ж 3 F 50 W 2</td>
              <td>3900</td>
            </tr>
            <tr>
              <td>М 150</td>
              <td>
                <span>В 12,5
                </span>
              </td>
              <td>Ж 4 F 100 W 4</td>
              <td>4020</td>
            </tr>
            <tr>
              <td>М 200</td>
              <td>
                <span>В 15
                </span>
              </td>
              <td>Ж 4 F 100 W 4</td>
              <td>4100</td>
            </tr>
            <tr>
              <td>М 250</td>
              <td>
                <span>В 20
                </span>
              </td>
              <td>Ж 4 F 100 W 4</td>
              <td>4300</td>
            </tr>
            <tr>
              <td>М 300</td>
              <td>
                <span>В 22,5
                </span>
              </td>
              <td>Ж 4 F 150 W 6</td>
              <td>4400</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-prise" data-target="4">
        <table class="table">
          <thead id="#prise7" class="table">
            <tr>
              <th>ЦПС</th>
              <th>Клаcc</th>
              <th>Технические параметры</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>M 100</td>
              <td>-</td>
              <td>Цементно-песчаная смесь</td>
              <td>3150</td>
            </tr>
            <tr>
              <td>M 150</td>
              <td>-</td>
              <td>Цементно-песчаная смесь</td>
              <td>3250</td>
            </tr>
            <tr>
              <td>M 200</td>
              <td>-</td>
              <td>Цементно-песчаная смесь</td>
              <td>3350</td>
            </tr>
            <tr>
              <td>M 250</td>
              <td>-</td>
              <td>Цементно-песчаная смесь</td>
              <td>3500</td>
            </tr>
            <tr>
              <td>M 300</td>
              <td>-</td>
              <td>Цементно-песчаная смесь</td>
              <td>3650</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-prise" data-target="5">
        <table class="table">
          <thead id="#prise8" class="table">
            <tr>
              <th>Растворы</th>
              <th>Класс</th>
              <th>Технические параметры</th>
              <th>Цена без доставки (в т.ч. НДС 20 %) руб/м3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>М 100</td>
              <td>-</td>
              <td>Раствор Строительный</td>
              <td>3550</td>
            </tr>
            <tr>
              <td>М 150</td>
              <td>-</td>
              <td>Раствор Строительный</td>
              <td>3700</td>
            </tr>
            <tr>
              <td>М 200</td>
              <td>-</td>
              <td>Раствор Строительный</td>
              <td>3950</td>
            </tr>
            <tr>
              <td>М 250</td>
              <td>-</td>
              <td>Раствор Строительный</td>
              <td>4200</td>
            </tr>
            <tr>
              <td>М 300</td>
              <td>-</td>
              <td>Раствор Строительный</td>
              <td>4550</td>
            </tr>
            <tr>
              <td>Цементное молоко</td>
              <td>-</td>
              <td>-</td>
              <td>7050</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-prise table-prise1">
        <table class="table table-mobail">
          <thead id="prise2">
            <tr>
              <th colspan="2" style="text-transform: uppercase">
                Стоимость противоморозной добавки
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Классификация от 0 С до -20 С</td>
              <td>Цена в руб (в т.ч. НДС 20 %) 150 руб./м3<br>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="table-prise table-prise1">
        <table class="table table-mobail">
          <thead id="prise3">
            <tr>
              <th style="text-transform: uppercase">
                Стоимость доставки
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="color: #f43b00">
                Полная загрузка АБС руб 1м3 (с НДС)
              </td>
            </tr>
            <tr>
              <td>до 5 км-450руб</td>
            </tr>
            <tr>
              <td>до 10 км-500руб</td>
            </tr>
            <tr>
              <td>до 15 км-550руб</td>
            </tr>
            <tr>
              <td>до 20 км-600руб</td>
            </tr>
            <tr>
              <td>до 25 км-650руб</td>
            </tr>
            <tr>
              <td>до 30 км-700руб</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
